* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.body {
  font-family: Vazirmatn, monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* input[type="radio"]{
  appearance: none;
  background-color:white;
  width:1.15em ;
  height:1.15em ;
  border: 0.15em solid blueviolet;
  border-radius: 20%;
 }
 input[type="radio"]:checked{
  background-color: steelblue;
  outline: 0.1em solid blueviolet;
} */


[type="radio"] {
  appearance: none;
}

.inputradio:checked+.inputlabel::before {
  content: "\2705";
}

.inputlabel::before {
  content: "\2B1C";
  padding-right: 5px;
}

.inputlabel {
  cursor: pointer;
  font-size: larger;
}

.show-answer::before {
  content: "\2705";
  padding-right: 5px;
  background-color: burlywood;
}

.show-answer {
  font-size: larger;
  background-color: green;
  color: yellow;
}

.show-incorrect::before {
  content: "\274C";
  padding-right: 5px;
  background-color: burlywood;
}

.show-incorrect {
  font-size: larger;
  background-color: red;
}

@property --progress {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 10%;
}

.progress {
  display: inline-block;
  position: absolute;
  --progress: 10%;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  background: radial-gradient(circle at center, white, green var(--progress), black var(--progress));
  animation: progressanimation 2s ease infinite;
}

@keyframes progressanimation {
  to {
    --progress: 100%;
  }
}

.farsi {
  direction: rtl;
}

.display-none {
  display: none;
}

.section1 {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(2, 1fr);
  min-width: 550px;
  gap: 20px;
}

.borderbox {
  background-color: aliceblue;
  border-radius: 10px;
  border: 3px solid rgb(243, 230, 230);
  box-shadow: 1px 1px 5px 5px rgba(220, 220, 220, .8);
  padding: 20px;

}

.timer {
  text-align: center;
  font-weight: 600;
  background-color: beige;
  color: blue;
}

.title {
  grid-column: 2 span;
}

.p1 {
  grid-column: 2 span;
  font-size: large;
  margin-bottom: 10px;
}

.btnstart:disabled,
.btnstart:disabled:hover {
  background-color: rgb(160, 160, 195);
  color: whitesmoke;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.btnstart {
  grid-column: 2 span;
  background-color: rgb(60, 60, 248);
  color: whitesmoke;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.btnstart:enabled:hover {

  background-color: rgb(80, 80, 248);
  scale: 1.01;
  cursor: pointer;
}

.btnnext {
  background-color: rgb(248, 164, 19);
  color: whitesmoke;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btnresult {
  background-color: rgb(11, 204, 46);
  color: whitesmoke;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

}

.section2 {
  display: flex;
  flex-direction: column;
  min-width: 550px;
  row-gap: 2rem;
}

.section3 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  min-width: 550px;
}

.option {
  padding: 10px;
  background-color: burlywood;
  line-height: 2rem;
}

.btn-answer {
  direction: rtl;
}
.question{
  font-size: x-large;
}
#titleresult{
  font-size: x-large;
  color: blueviolet;
  text-align: center;
}

#result{
  font-size: x-large;
  color:fuchsia
}

#list-question {
  background-color: gainsboro;
  font-size: larger;

}
.question2{
  font-size: large;
  
}
.Answer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content:space-around;
  background-color: beige;
  font-size: large;
  color:blue;
  padding: 5px 5px;
}

.correctAnswer {
  color: green;
}

.voidAnswer {

  color: orange;
}

.incorrectAnswer {

  color: red;
}